@charset "UTF-8";

.container-header {
    background-color: orangered;
}
/* thông tin đầu (4,9*****) */
.thongtindau{
    background-color: initial;
    border: 0;
    cursor: pointer;
    margin: 5px;
}
.mausao{
    color: #ee4d2d;
    stroke: #ee4d2d;
}
/* thông tin giữa (11,3 đánh giá)*/ 
.thongtingiua{
    background-color: initial;
    border: 0;
    cursor: pointer;
}
.tendanhgia{
    margin: 5px;
    font-size: .875rem; 
    color:#767676;
    text-transform: capitalize;
}
/* thông tin cuối (45,7 đã bán) */
.thongtincuoi{
    align-items: center;
    padding: 0 15px; 
    border: 0; 
    cursor: pointer;
    background-color: initial;
}
.sodaban{
    font-size: 1rem; 
    color: #222; 
    margin-right: 5px; 
    padding-bottom: 1px;
}
.tendaban{
    font-size: .875rem; 
    color: #767676; 
    padding:4px 0;
    text-transform:capitalize; 
    margin-right: 5px;
}
/* flash sale */
.flashsale{
    display: flex;
    align-items: center;
    margin-top: .625rem;
    height: 2.25rem;
    color: #fff;
    padding:0 1.25rem;
    background-image: linear-gradient(-90deg,#f0451e 9%,#f32424 96%);
}
.khoangcachflashsalevaketthuc{
    width: 1.0625rem;
    height: 1.0625rem;
    margin-left: auto; 
    margin-right: .375rem;
}
.ketthuctrong{
    text-transform: uppercase; 
    margin-right: 10px; 
    font-weight: lighter;
}
/* giao diện đếm ngược */
.dinhdangkhungdem{
    -webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: default;
	display: flex;
	color: #000;
	align-items: center;
}
.giaodiendem{
    background: currentColor;
    border-radius: 2px;
    height: 17px;
    margin-bottom: 4px;
    padding: 1px 3px;
    line-height: 20px;
    font-size: 19px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    box-sizing: initial;
    min-width: 20px;
    text-align: center;
}
.khoangcachgiaodiendem{
    display: flex;
	flex-direction: column;
    background-position-y: 3px;
	text-align: center;
	width: 3px;
	height: 17px;
	font-weight: 400;
	font-size: 20px;
	margin: 0 2px;
}
/* giá tiền */
.thongtingia{
    padding: 15px 20px;
    background-color: #fafafa;
}
.giacu{
    font-size: 1.5rem; 
    text-decoration: line-through; 
    color: #929292; 
}
.giamoi{
    font-size: 1.875rem; 
    font-weight: 500; 
    color: #ee4d2d;
}
.giamgia{
    margin-left: 15px;
    font-size: .75rem;
    color: #fff;
    text-transform: uppercase;
    background:#ee4d2d ;
    border-radius:2px;
    padding:2px 4px;
    font-weight: 600;
}
/* số lượng */
.dinhdangkhungsoluong{
    margin-top: 1.5625rem; padding: 1.25rem;
}
.soluong{
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
    align-items: center;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}
.dinhdangnutsoluong{
    display: flex; 
    align-items: center;
}
/* loai san pham */
.loaisanpham{
    overflow: visible;
    cursor: pointer;
    min-width: 5rem;
    min-height: 2.125rem;
    box-sizing: border-box;
    padding: 0.25rem 0.75rem;
    margin: 0px 8px 8px 0px;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    position: relative;
    background: rgb(255, 255, 255);
    outline: 0px;
    word-break: break-word;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.loaisanphaman{
    color:rgba(0, 0, 0, 0.26);
    cursor:not-allowed;
}
/* Tên sản phẩm */
.tensanpham{
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    margin: 0;
    vertical-align:sub;
    max-height: 3rem;
    line-height: 1.5rem;
    overflow: hidden;
    max-width: 41.5625rem;
    font-size: 1.25rem;
    overflow-wrap: break-word;
}
/* số lượng */
.nut{
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
    width: 32px;
    height: 32px;
}
.soluong{
    width: 50px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
}
.nutthemvaogiohang{
    position: relative;
    overflow: visible;
    outline: 0px;
    background: rgb(208, 1, 27);
    
}
.maunutmua{
    position: relative;
    overflow: visible;
    outline: 0px;
    background: rgb(208, 1, 27);
}

.nutgiohang{
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    flex-direction: column;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.09);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    outline: 0;
    cursor: pointer;
    height: 48px;
    padding: 0 20px;
    margin-right: .9375rem;
    width: 11.25rem;
    color: white;
}
.maunutthich{
    position: relative;
    overflow: visible;
    outline: 0;
    margin-right: .9375rem;
    background-color: initial;
}
/* chi tiết sản phẩm */
.bocucchitietsanpham{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background: #fff;
    margin-top: .9375rem;
    padding: .625rem;
}
.chitietsanpham{
    padding: .9375rem .9375rem 0;
}
.titlechitietsanpham{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: .875rem;
    text-transform: capitalize;
}
.dongchitietsp{
    display: flex;
    margin-bottom: 1.125rem;
}
.labelchitietsanpham{
    color: rgba(0,0,0,.4);
            font-size: .875rem;
            box-sizing: border-box;
            width: 8.75rem;
            padding-right: .75rem;
}
.motasanpham{
    padding: .9375rem .9375rem 0;
}
.titlemotasanpham{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    padding: .875rem;
    text-transform: capitalize;
}
/* đánh giá sản phẩm */
.dinhdangkhungdanhgiasp{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background: rgba(0,0,0,.02);
    margin-top: .9375rem;
	padding: 1.5625rem;
	overflow: visible;

}
.danhgiasanpham{
    font-size: 1.125rem;
	color: rgba(0,0,0,.87);
	margin-right: .2em;
	text-transform: capitalize;
}
.khoangcachtitlevsphandanhgia{
    display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 1em;
}
.comment-rating{
    border-bottom: 1px solid rgba(0,0,0,.09);
    display: flex;
    padding: 1rem 0 1rem 1.25rem;
    align-items: flex-start;
}
.avatar-rating{
    width: 2.5rem;
    margin-right: .625rem;
    text-align: center;
}
.avatar-background{
    display: inline-block;
	width: 1.875rem;
	height: 1.875rem;
	position: relative;
	border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
	box-sizing: border-box;
}
.img-rating{
    position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.name-comment{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: .75rem;
}
.time-comment{
    margin-top: .25rem;
    margin-bottom: .9375rem;
    font-size: .75rem;
    color: rgba(0,0,0,.54);
}
.hinhanhdanhgia{
    width: 100%; 
    height: 100%; 
    margin-right: 10px;
}
.frames-rating-img{
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 .625rem .625rem 0;
    position: relative;
}
/* Các sản phẩm khác */
.dinhdangkhungcacspkhac{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    overflow: hidden;
    background: #fff;
    margin-top: .9375rem;
	padding: 1.5625rem;
	overflow: visible;
}
.khoangcachtitlespkhacvasp{
    display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 1em;
}
.cacspkhaccuashop{
    font-size: 1.125rem;
	color: rgba(0,0,0,.87);
	margin-right: .2em;
	text-transform: capitalize;
}
.dinhdangkhung1product{
    height: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 10px;
}
.dinhdangvien1product{
    text-decoration: none;
	color: rgba(0,0,0,.87);
	display: block;
	box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
	border-radius: .125rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #fff;
	position: relative;
	overflow: visible;
	cursor: pointer;
	user-select: none;
	padding: 0;
}
.kichthuockhung1sp{
    width: 100%;
	padding-top: 100%; 
    position: relative;
}
.vitrihinhanhsp{
    vertical-align: bottom; 
    object-fit: contain;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff; opacity: 1;
}
.dinhdangkhungtitlespkhac{
    flex: 1 0 auto;
	display: flex;
	flex-direction: column;
    padding: .5rem; 
    overflow: hidden;
}
.dinh-dang-title-sanpham{
    overflow-wrap: break-word;
	white-space: normal;
	overflow: hidden;
	display: -webkit-box;
    text-overflow: ellipsis;
    display: inline;
	line-height: 14px;
	font-size: .75rem;
}
.phan-title-sanphamkhac{
    flex-grow: 1;
	min-height: 1.75rem;
}
.phan-gia-sanphamkhac{
    align-items: baseline;
}
.dinh-dang-gia-sanphamkhac{
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1rem;
	color: rgb(238, 77, 45);
}
.khung-gia-sanphamkhac{
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;flex: 1 0 auto;
	max-width: 75%;
	color: rgb(238, 77, 45);display: inline;
    white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}



